<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Cobra News</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/saved">Saved Articles</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Cobra News</h1>
    <p>New York Times Edition</p>
  </div>
</div>

<div class="container-fluid article-container">

  {{#each articles}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        <a class="article-link" target="_blank" href="{{this.url}}">{{this.headline}}</a>
        {{#if this.isSaved}}
          <a class="btn btn-info notes" data-id={{this._id}}>Article Notes</a>        
          <a class="btn btn-danger delete" data-id={{this._id}}>Delete from Saved</a>
        {{else}}
          <a class="btn btn-success save" data-id={{this._id}}>Save Article</a>
        {{/if}}
      </h4>
    </div>
    <div class="panel-body">
      "{{this.summary}}"
    </div>
  </div> 

  {{/each}}

</div>

<footer class="footer">
  <div class="container">
    <p>Cobra News - New York Times Scraper</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../../assets/js/index.js"></script>
  